@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);/* palette */
/* General Styles */
body {
  background-color: #f4f4f5;
  margin: 0;
  color: #263238;
  font-family: 'Roboto';
  font-weight: 300;
}

/* Header */
.main-header___2wUgC {
  background-color: #4a0072;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header-left___3L8kA {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #4a0072;
  text-align: left;
}

.title___274UV {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
  text-align: left;
  margin: 0;
  display: inline-block;
  color: #fff;
  font-weight: 200;
}

.header-right___2k9Cu {
  display: inline-block;
  width: 50%;
  background-color: #4a0072;
  text-align: right;
  color: #fff;
}

/* login panel */
.log-in___2bTwA,
.sign-up___2Uny_ {
  display: inline-block;
  width: 100px;
}

.log-in___2bTwA a,
.sign-up___2Uny_ a {
  padding-right: 20px;
}

p {
  margin: 0;
}

.fa___1M2YV {
  margin-right: 5px;
}

/* Dashboard */
.logout___21852,
.add-post___Rfolh,
.welcome___4jo3W {
  display: inline-block;
  margin-left: 15px;
}

.logout___21852 a,
.add-post___Rfolh a,
.welcome___4jo3W a {
  margin-right: 20px;
}

#logout___21852 {
  color: inherit;
  display: inline-block;
  border: none;
  background-color: #4a0072;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding-left: 0;
}

#logout___21852:hover {
  border-bottom: 2px solid #f9a825;
}

/* Navigation */
.navigation___H_ImP {
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-bar___3T40z {
  display: inline-block;
  margin: 0 auto;
  padding: 8px;
}

.nav-item___aqhX_ {
  padding: 3px;
  float: right;
  margin: 5px;
  list-style: none;
}

.nav-item___aqhX_ a {
  color: #263238;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: inherit;
}

a:hover {
  border-bottom: 2px solid #f9a825;
}

.photo-info___F3HNC {
  display: inline-block;
}

/* User Profile */
.page-title___f0zZr {
  text-align: center;
  padding: 10px;
  background-color: #ae52d4;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 0;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.message___2mUE4 {
  background-color: yellow;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.photolist-div___1QQSW {
  width: 80%;
  font-size: 18px;
  background-color: #fff;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.photolist-div___1QQSW div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.photolist-div___1QQSW a {
  color: #263238;
}

.img-icon___1H-o1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.date___2LUPH {
  padding-left: 20px;
}

.user-actions___3ftH7 {
  float: right;
  padding-top: 10px;
}

.user-actions___3ftH7 a {
  color: inherit;
  display: inline-block;
  border: none;
  background-color: #fff;
  font-size: 16px;
  margin: 0;
  padding-left: 0;
}

.user-actions___3ftH7 a:hover {
  border-bottom: 2px solid #f9a825;
}

.user-actions___3ftH7 button {
  color: inherit;
  display: inline-block;
  border: none;
  background-color: #fff;
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  padding-left: 0;
  margin-left: 15px !important;
}

.user-actions___3ftH7 button:hover {
  border-bottom: 2px solid #f9a825;
}
/* palette */
/* Index */
.page-title___dq8sk {
  text-align: center;
  padding: 10px;
  background-color: #ae52d4;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 0;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.server-errors___2CaXI {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid red;
  width: 400px;
  border-radius: 5px;
}

.no-posts___3suhn {
  width: 80%;
  font-size: 18px;
  background-color: #fff;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.photo-div___1koTw {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.photo___1Ufip {
  width: 100%;
}

.photo-title___1JGRt {
  text-align: center;
}

.photo-desc___2ka39 {
  display: inline-block;
  margin: 8px;
}

.user___3BjO5 {
  display: inline-block;
  padding-top: 8px;
  margin-left: 8px;
  color: grey;
}

.user-image___316a3 {
  border: 1px solid black;
  border-radius: 50%;
  width: 15px;
}

/* Photo Detail */
.photo-detail-div___3-wHU {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}
/* palette */
.form-container___3Wj1V {
  width: 600px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}

.form-header___1jmyS {
  background-color: #ae52d4;
}

.form-header___1jmyS h2 {
  color: #fff;
  font-weight: 200;
  margin: 0 15px 0 15px;
  padding-top: 10px;
}

input,
textarea {
  margin-top: 15px;
  width: 300px;
  height: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

textarea {
  height: 8em;
}

.form-error___1j6sk {
  color: red;
}

.form-submit___2_Arv {
  text-align: center;
}

.submit-button___3CE-L {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  background-color: #ffd95a;
  border: none;
  border-radius: 2px;
  color: #263238;
}

.highlight___1G7en {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
