/* palette */
$font-dark:  #263238;
$white: #fff;

.form-container {
  width: 600px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid $white;
  border-radius: 2px;
  background-color: $white;
  box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;
  text-align: center;

  h2 {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #f4f4f5;
  }
}

input,
textarea {
  width: 300px;
  height: 25px;
  border: 1px solid #f4f4f5;
  margin-bottom: 10px;
  border-bottom: 0 0 0 1px solid black;
}

textarea {
  height: 8em;
}

.form-error {
  color: red;
}

.form-submit {
  text-align: center;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: $white;
}
