
/* General Styles */
body {
  background: #f4f4f5;
  margin: 0;
  box-sizing: border-box;
  color: #494945;
  font-family: Arial;
}

/* Header */

.page-title {
  background-color: white;
  height: 80px;
}

.header-left {
  width: 50%;
  float: left;
  background-color: inherit;
  margin: 5px;
}

.header-right {
  width: 50%;
  float: right;
  background-color: inherit;
}

p {
  display: inline-block;
  float: right;
  margin: 5px;
}

.title {
  text-align: left;
}

/* Navigation */

.nav-bar {
  display: inline-block;
  width: 600px;
  margin: 0 auto;
}

.nav-item {
  float: right;
  margin: 5px;
  list-style: none;
}

a.nav-item {
  text-decoration: none;
}
