@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* palette */
$font-dark:  #263238;
$font-light: #fff;
$white: #fff;
$primary-dark: #4a0072;
$primary: #7b1fa2;
$primary-light: #ae52d4;
$secondary-dark: #c17900;
$secondary: #f9a825;
$secondary-light: #ffd95a;

/* General Styles */
body {
  background-color: #f4f4f5;
  margin: 0;
  color: $font-dark;
  font-family: 'Roboto';
  font-weight: 300;
}

/* Header */

// header <div>
.main-header {
  background-color: $primary-dark;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header-left {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: $primary-dark;
  text-align: left;
}

.title {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
  text-align: left;
  margin: 0;
  display: inline-block;
  color: $font-light;
  font-weight: 200;
}

.header-right {
  display: inline-block;
  width: 50%;
  background-color: $primary-dark;
  text-align: right;
  color: $font-light;
}

/* login panel */

.log-in,
.sign-up {
  display: inline-block;
  width: 100px;

  a {
    padding-right: 20px;
  }
}

p {
  margin: 0;
}

.fa {
  margin-right: 5px;
}

/* Dashboard */

.logout,
.add-post,
.welcome {
  display: inline-block;
  margin-left: 15px;

  a {
    margin-right: 20px;
  }
}

#logout {
  color: inherit;
  display: inline-block;
  border: none;
  background-color: $primary-dark;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding-left: 0;

  &:hover {
    border-bottom: 2px solid $secondary;
  }
}

/* Navigation */

.navigation {
  background-color: $white;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-bar {
  display: inline-block;
  margin: 0 auto;
  padding: 8px;
}

.nav-item {
  padding: 3px;
  float: right;
  margin: 5px;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  border-bottom: 2px solid $secondary;
}

.photo-info {
  display: inline-block;
}

/* User Profile */

.page-title {
  text-align: center;
  padding: 10px;
  background-color: $primary-light;
  color: $font-light;
  margin: 0 auto;
  margin-bottom: 0;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.message {
  background-color: yellow;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.photolist-div {
  width: 80%;
  font-size: 18px;
  background-color: $white;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }
}

.img-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.date {
  padding-left: 20px;
}

.user-actions {
  float: right;
  padding-top: 10px;
}

#edit-button {
  color: inherit;
  display: inline-block;
  border: none;
  background-color: $white;
  font-size: 16px;
  margin: 0;
  padding-left: 0;

  &:hover {
    border-bottom: 2px solid $secondary;
  }
}

#delete-button {
  color: inherit;
  display: inline-block;
  border: none;
  background-color: $white;
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  padding-left: 0;
  margin-left: 15px !important;

  &:hover {
    border-bottom: 2px solid $secondary;
  }
}
